.c-body {
	min-width: 450px;
	padding: 10px;
}

.c-title {
	display: inline-block;
}

.c-refresh-button {
	border: none;
	background-color: transparent;
}

.c-refresh-button__icon {
	width: 15px;
	cursor: pointer;
}

.c-cell-value {
	transition: 0.3s;
}

.c-cell-value.js-copied::after {
	content: " - Copied";
}

.c-cell-value:hover {
	cursor: pointer;
	background-color: cadetblue;
}

.c-category-row {
	cursor: pointer;
	transition: 0.3s;
	background-color: #89cff0;
}

.c-category-row:hover {
	background-color: #2cace7;
}

.c-category-row--closed ~ tr {
	display: none;
}

.c-category-row__title {
	padding: 10px;
}
